<div class="container d-flex p-5">
  <div class="row d-flex flex-column">
    <div class="pb-5">
      <button (click)="goToList()" mat-mini-fab color="accent" aria-label="Back to home">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <h1>
        Product #{{form.value.id}}
      </h1>
      <!-- <p>{{ product.name }}</p> -->
      <div>
        <!-- <input formControlName="name" type="text" /> -->
        <mat-form-field class="example-form-field">
          <mat-label>Product name</mat-label>
          <input matInput type="text" formControlName="name">
          <button mat-button *ngIf="form.value.name" matSuffix mat-icon-button aria-label="Clear" (click)="reset()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-between pt-3">
        <button [disabled]="!enableEdit()" type="submit" mat-mini-fab color="primary" aria-label="Edit element">
          <mat-icon>done</mat-icon>
        </button>
        <button (click)="delete()"  mat-mini-fab color="warn" aria-label="Remove element">
          <mat-icon>delete_forever</mat-icon>
        </button>
        <!-- <input type="submit" [disabled]="!enableEdit()" value="Edit" /> -->
      </div>
    </form>
  </div>
</div>