<h1 mat-dialog-title>Wait</h1>
<div mat-dialog-content>
  <p>Are you sure to exit without saving?</p>
  <!-- <p>status: {{ isEdit? 'EDITED' : 'CLEAR' }}</p> -->
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Go back</button>
  <button mat-button [mat-dialog-close]="data.path" cdkFocusInitial>Continue</button>
</div>