<div class="container d-flex p-5">
  <div class="row d-flex flex-column">
    <h1>
      Products
    </h1>
    <div>
      <div>
        This is a list of sample products, you can add one or edit them using a simple click
      </div>
      <div class="p-2">
        <button 
          (click)="add()"
          mat-mini-fab color="primary" 
          aria-label="Example icon button with a plus one icon">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <app-product-card 
      *ngFor="let product of products" 
      [product]="product" 
      (click)="toDetail(product)"
      (onRemove)="remove($event)"
      class="product-item"
    ></app-product-card>

  </div>
</div>