<div class="container d-flex p-5">
  <div class="row d-flex flex-column">
    <div class="pb-5">
      <button (click)="goToList()" mat-mini-fab color="accent" aria-label="Back to home">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
    </div>
    <h1>Add a new product</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <div>
        <mat-form-field class="example-form-field">
          <mat-label>Product name</mat-label>
          <input matInput type="text" formControlName="name">
          <button mat-button *ngIf="form.value.name" matSuffix mat-icon-button aria-label="Clear" (click)="reset()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="pt-3">
        <button [disabled]="!enableAdd()" type="submit" mat-mini-fab color="primary" aria-label="Add element">
          <mat-icon>done</mat-icon>
        </button>
      </div>
    </form>
    
  </div>
</div>
