<mat-card class="example-card d-flex justify-content-between align-items-center mb-2">
  <!-- <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header> -->
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <!-- <mat-card-content> -->
    <div class="d-flex">
      <div class="pr-2">#{{product && product.id }}</div>
      <div>{{product && product.name || nameNotFound }}</div>
    </div>
  <!-- </mat-card-content> -->
  <mat-card-actions>
    <button mat-button (click)="delete($event)"><mat-icon>delete</mat-icon></button>
  </mat-card-actions>
</mat-card>